@use "font" as *;
@use "variables" as *;

@mixin max-width-phone {
  max-width: 1280px;
  margin: 0;
}

@mixin max-width-tablet {
  max-width: 264px;
}

@mixin page-header-desktop {
  font-size: 60px;
  line-height: 68px;
  font-family: $avenir_regular;
}

@mixin section-header-desktop {
  font-size: 30px;
  line-height: 44px;
  font-family: $avenir_regular;
}

@mixin subheader-desktop {
  font-size: 24px;
  line-height: 32px;
  font-family: $avenir_demi;
}

@mixin body-copy-desktop {
  font-size: 14px;
  line-height: 22px;
  font-family: $avenir_regular;
}
@mixin footer-copy-desktop {
  font-size: 14px;
  line-height: 20px;
  font-family: $avenir_regular;
}

@mixin label-button-desktop {
  font-size: 12px;
  line-height: 20px;
  font-family: $avenir_bold;
}

/*-------------------------------------Mobile Mixins-----------------------------------------*/

@mixin page-header-mobile {
  font-size: 23px;
  line-height: 32px;
  font-family: $avenir_regular;
}

@mixin section-header-mobile {
  font-size: 24px;
  line-height: 32px;
  font-family: $avenir_regular;
}

@mixin subheader-mobile {
  font-size: 14px;
  line-height: 22px;
  font-family: $avenir_demi;
}

@mixin body-copy-mobile {
  font-size: 13px;
  line-height: 18px;
  font-family: $avenir_regular;
}

@mixin footer-copy-mobile {
  font-size: 13px;
  line-height: 18px;
  font-family: $avenir_regular;
}

@mixin label-button-desktop {
  font-size: 10px;
  line-height: 20px;
  font-family: $avenir_bold;
}

@mixin shows-formating {
  color: $bandsite-darkblack;
  font-family: $avenir_regular;
  font-size: 15px;
  margin-top: 5px;
}

/*-----------------Global Mixins-----------------------*/

@mixin avatar {
  vertical-align: middle;
  width: 36px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin button-mobile {
  font-family: $avenir_regular;
  font-size: 10px;
  line-height: 20px;
  color: white;
}

@mixin button-desktop {
  font-family: $avenir_regular;
  font-size: 12px;
  line-height: 20px;
  background-color: $bandsite-darkblack;
  color: white;
}
