@use "font" as *;


$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$avenir_regular: "AvenirRegular";
$avenir_demi: "AvenirDemi";
$avenir_bold: "AvenirBold";

