@font-face {
  font-family: "AvenirRegular";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirDemi";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirBold";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
/*-------------------------------------Mobile Mixins-----------------------------------------*/
body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*--------------------------------------Nav Bar-----------------------------------------*/
nav {
  color: #FFFFFF;
  position: relative;
}

.nav-item {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nav-item__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item__link {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}
.nav-item__navlink--bio {
  color: red;
}
.nav-item .nav-item__link--item {
  position: relative;
}
.nav-item div.nav-item__link--item hr {
  width: 100%;
  background-color: #E1E1E1;
  position: absolute;
  top: 30px;
  height: 3px;
}

.nav-item__link--item a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
}

@media only screen and (min-width: 768px) {
  .nav-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .nav-item__logo {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 3%;
  }
  .nav-item__link {
    padding-top: 20px;
  }
  .nav-item__link--item a {
    font-family: "AvenirRegular";
    font-size: 14px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .nav-item {
    gap: 50px;
  }
  .nav-item__logo {
    padding-left: 10%;
  }
  .nav-item__link {
    gap: 60px;
  }
}
/*-------------------------------------Hero Image-----------------------------------------*/
.hero-image {
  height: 20vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../assets/Images/hero-bio.jpg);
}
.hero-image__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-image__header {
  font-family: "AvenirDemi";
  font-size: 24px;
  letter-spacing: 0px;
}

/*-------------------------------------Main Section-----------------------------------------*/
.main-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
}
.main-section__header {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirRegular";
  font-family: "AvenirDemi";
  text-align: left;
}
.main-section img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}
.main-section__quote {
  font-family: AvenirDemi;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.main-section__paragraph-header {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
  font-family: "AvenirDemi";
  text-align: left;
  margin-bottom: -5px;
}
.main-section__paragraph {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
  text-align: justify;
  gap: 5px;
}

@media screen and (min-width: 767px) {
  .main-section {
    padding: 1.5rem 10% 0;
  }
  .main-section img {
    width: 50vh;
    height: 30vh;
    margin: 0 auto;
  }
  .main-section__paragraph-header {
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirDemi";
  }
  .main-section__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
  }
  .main-section__paragraph-one {
    line-height: 22px;
  }
  .main-section__paragraph-two {
    line-height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .main-section {
    padding: 0.5rem 20% 0;
  }
  .main-section img {
    width: 60vh;
    height: 40vh;
  }
  .main-section__quote {
    text-align: left;
    width: 50%;
    gap: 0.625rem;
  }
  .main-section__paragraph-one {
    line-height: 20px;
  }
  .main-section__paragraph-two {
    line-height: 20px;
  }
}
/*-------------------------------------Gallery-----------------------------------------*/
.photo {
  margin: 0 auto;
  background-color: #FAFAFA;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-gallery__header {
  width: 98%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.photo-gallery__row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.photo-gallery__column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
.photo-gallery__column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .photo-gallery {
    width: 80%;
    margin: 0 auto;
  }
  .photo-gallery__column {
    flex: 25%;
    max-width: 55%;
    padding: 0 4px;
  }
}
@media screen and (min-width: 1280px) {
  .photo {
    padding-bottom: 20px;
  }
  .photo__photo-gallery {
    width: 50%;
  }
}
/*-------------------------------------Diving Deeper - gallery Hover----------------------------------------*/
.photo img {
  filter: grayscale(1);
}
.photo img:hover {
  filter: none;
}

/*--------------------------------------Form--------------------------------------------*/
.comment-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.comment-form__top {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
  font-family: "AvenirDemi";
}
.comment-form__name {
  color: #323232;
}
.comment-form__date {
  color: #AFAFAF;
}
.comment-form__bottom {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}
.comment-form img {
  vertical-align: middle;
  width: 36px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type=text], select {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*-------------------------------------Comments-----------------------------------------*/
.comment-item {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.comment-item__top {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
  font-family: "AvenirDemi";
}
.comment-item__name {
  color: #323232;
}
.comment-item__date {
  color: #AFAFAF;
}
.comment-item__bottom {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}
.comment-item img {
  vertical-align: middle;
  width: 36px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

hr.comment-divider {
  stroke-width: 1px;
  width: 95%;
  margin-top: 3%;
  margin-bottom: 2%;
}

@media screen and (min-width: 767px) {
  .comment-item {
    margin: 0 15% 0;
  }
  .comment-item__bottom {
    text-align: justify;
  }
  .comment-item img {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  hr.comment-divider {
    stroke-width: 1px;
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .comment-item {
    margin: 0 32% 0;
  }
  hr.comment-divider {
    stroke-width: 1px;
    width: 35%;
  }
}
/*-------------------------------------Footer Starts----------------------------------------*/
.footer {
  background-color: #323232;
  color: #FFFFFF;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.footer-item__header--top {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
  font-size: 25px;
}
.footer-item__icons {
  display: flex;
  flex-direction: row;
  gap: 7.5%;
}
.footer-item__top {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
}
.footer-item__middle, .footer-item__bottom {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}
.footer-item a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-item__mobilefooterlogo {
  font-size: 23px;
  line-height: 32px;
  font-family: "AvenirRegular";
  text-transform: uppercase;
}
.footer-item__copywrite {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

@media screen and (min-width: 767px) {
  .footer-item {
    gap: 50px;
    position: relative;
  }
  .footer-item__header {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .footer-item__header--top {
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirDemi";
    font-size: 33px;
  }
  .footer-item__icons {
    gap: 25px;
  }
  .footer-item__sponsors {
    display: flex;
    gap: 5.625rem;
    margin-top: -50px;
  }
  .footer-item__mobilefooterlogo {
    position: absolute;
    left: 80%;
    top: 4%;
  }
  .footer-item__copywrite {
    font-size: 14px;
    line-height: 20px;
    font-family: "AvenirRegular";
  }
}
@media screen and (min-width: 1280px) {
  .footer-item {
    left: 10%;
    gap: 28px;
  }
  .footer-item__mobilefooterlogo {
    left: 70%;
  }
}/*# sourceMappingURL=bio.css.map */