@font-face {
  font-family: "AvenirRegular";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirDemi";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirBold";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
/*-------------------------------------Mobile Mixins-----------------------------------------*/
/*-----------------Global Mixins-----------------------*/
body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  color: #FFFFFF;
  position: relative;
}

.nav-item {
  background-color: #323232;
}
.nav-item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nav-item__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item__link {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}
.nav-item__navlink--bio {
  color: red;
}
.nav-item .nav-item__link--item {
  position: relative;
}
.nav-item div.nav-item__link--item hr {
  width: 100%;
  background-color: #E1E1E1;
  position: absolute;
  top: 140%;
  height: 2px;
}

.nav-item__link--item a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
}

@media only screen and (min-width: 767px) {
  .nav-item__container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .nav-item__logo {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 4%;
  }
  .nav-item__link {
    padding-top: 20px;
  }
  .nav-item__link--item a {
    font-family: "AvenirRegular";
    font-size: 14px;
    line-height: 32px;
  }
}
.nav-item div.nav-item__link--item hr {
  width: 100%;
  background-color: #E1E1E1;
  position: absolute;
  top: 130%;
  height: 4px;
}

@media only screen and (min-width: 1280px) {
  .nav-item {
    gap: 50px;
  }
  .nav-item__container {
    max-width: 1280px;
    margin: auto;
    padding: auto;
  }
  .nav-item__link {
    gap: 60px;
  }
}
/*-------------------------------------Hero Image Start-----------------------------------------*/
.hero-image {
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../assets/Images/hero-shows.jpg);
}
.hero-image__text {
  font-family: "AvenirDemi";
  display: flex;
  flex-direction: column;
  padding-top: 1.9375rem;
  padding-left: 1.25rem;
  top: 10px;
  color: #FFFFFF;
  gap: 5px;
}
.hero-image__overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.soundcloud-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 36.25%;
}

@media only screen and (min-width: 767px) {
  .hero-image {
    height: 50vh;
  }
  .hero-image__top {
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirDemi";
  }
  .hero-image__bottom {
    font-size: 60px;
    line-height: 68px;
    font-family: "AvenirRegular";
    font-family: "AvenirDemi";
    position: absolute;
    padding-top: 5%;
  }
  .hero-image__text {
    padding-left: 30px;
  }
  .soundcloud-container iframe {
    width: 60%;
    height: 30%;
    position: absolute;
    padding-top: 15%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-image {
    height: 40.25rem;
  }
  .hero-image__text {
    display: flex;
    flex-direction: column;
  }
  .soundcloud-container iframe {
    width: 60%;
    height: 20%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-image__text {
    max-width: 1280px;
    margin: auto;
  }
}
/*-------------------------------------Hero Image Ends-----------------------------------------*/
.show-title {
  font-family: "AvenirDemi";
  font-size: 1.5rem;
  padding-left: 5%;
}

.show-title {
  font-size: 23px;
  line-height: 32px;
  font-family: "AvenirRegular";
  font-family: "AvenirDemi";
}

.show-box {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1rem;
}
.show-box__header {
  font-family: "AvenirDemi";
  font-size: 13px;
  color: #AFAFAF;
  margin: 0;
}
.show-box__header first-child {
  color: green;
}
.show-box__date {
  color: #000000;
  font-family: "AvenirRegular";
  font-size: 15px;
  margin-top: 5px;
}
.show-box__venue {
  color: #000000;
  font-family: "AvenirRegular";
  font-size: 15px;
  margin-top: 5px;
}
.show-box__location {
  color: #000000;
  font-family: "AvenirRegular";
  font-size: 15px;
  margin-top: 5px;
}
.show-box__submit {
  background-color: #323232;
  color: #FFFFFF;
  margin-top: 1.5625rem;
  margin-left: 50px;
  padding-right: 80px;
  border-radius: 5px;
  font-family: "AvenirDemi";
  font-size: 14px;
  border: none;
  margin-bottom: 1rem;
}

.show-box {
  background-color: #FFFFFF;
}
.show-box:hover {
  background-color: #FAFAFA;
}
.show-box:active {
  background-color: #E1E1E1;
}

@media screen and (min-width: 767px) {
  .show-title {
    font-size: 30px;
    line-height: 44px;
    font-family: "AvenirRegular";
    font-family: "AvenirDemi";
  }
  .show-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .show-box__submit {
    width: 2%;
  }
  .show-box__date {
    color: #000000;
    font-family: "AvenirRegular";
    font-size: 15px;
    margin-top: 5px;
  }
  .show-box__venue {
    color: #000000;
    font-family: "AvenirRegular";
    font-size: 15px;
    margin-top: 5px;
    width: 10rem;
  }
  .show-box__location {
    color: #000000;
    font-family: "AvenirRegular";
    font-size: 15px;
    margin-top: 5px;
    width: 15rem;
  }
}
/*-------------------------------------Footer Starts----------------------------------------*/
.footer {
  background-color: #323232;
  color: #FFFFFF;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.footer-item__header--top {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
  font-size: 25px;
}
.footer-item__icons {
  display: flex;
  flex-direction: row;
  gap: 7.5%;
}
.footer-item__top {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirDemi";
}
.footer-item__middle, .footer-item__bottom {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}
.footer-item a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-item__mobilefooterlogo {
  font-size: 23px;
  line-height: 32px;
  font-family: "AvenirRegular";
  text-transform: uppercase;
}
.footer-item__copywrite {
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirRegular";
}

@media screen and (min-width: 767px) {
  .footer-item {
    gap: 50px;
    position: relative;
  }
  .footer-item__header {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .footer-item__header--top {
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirDemi";
    font-size: 33px;
  }
  .footer-item__icons {
    gap: 25px;
  }
  .footer-item__sponsors {
    display: flex;
    gap: 5.625rem;
    margin-top: -50px;
  }
  .footer-item__mobilefooterlogo {
    position: absolute;
    left: 80%;
    top: 4%;
  }
  .footer-item__copywrite {
    font-size: 14px;
    line-height: 20px;
    font-family: "AvenirRegular";
  }
}
@media screen and (min-width: 1280px) {
  .footer-item {
    left: 10%;
    gap: 28px;
  }
  .footer-item__mobilefooterlogo {
    left: 70%;
  }
}/*# sourceMappingURL=shows.css.map */